@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* Estilos del encabezado */
.header {
    background-color: rgb(39, 231, 231);
    color: #fff;
    padding: 10px;
}


.logo {
    font-size: 24px;
    position: absolute;
    margin: 7%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del héroe */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    color: #000000;
    padding: 100px 0;
}

.home-link img {
    width: 70px;
    /* Ajusta el tamaño del ícono según tus necesidades */
    height: auto;
    position: relative;
    left: 48%;
    padding: -50%;
}


/* Estilos del contacto */
.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

/* Estilos del pie de página */
.footer {
    background-color: #0bcfdd;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        margin-top: 10px;
    }

    .hero {
        padding: 50px 0;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #c8d3d8;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #e4e4e4;
    max-width: 400px;
    margin: 100px auto;
    padding: 25px; 
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    left: -200px;
 

}

.login-container h2 {
    margin-bottom: 25px;
    position: relative;
    left: 25%;
    width: 100%;
    height: 150%;
    max-width: 100%;
    max-height: 100%;
    color: rgb(255, 255, 255);
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}


.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cfd7ee;
    border-radius: 3px;
}




.login-container2 {
    background-color: #0bcfdd;
    max-width: 400px;
    margin: -41.5% auto;
    padding: 114px; 
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 200px;
 
}
   


#informacion {
    position: central;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: rgb(255, 255, 255);
     
   }

 #tituloCentrar p{
    position: central;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: #27d9e6;
}
#dos p{
    position: central;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: #051011;

} 
#icon-container2 img {
    display: inline-block;
    width: 85px;
    height: 85px;
    left: 10px;
    padding: 10px; 
    position: absolute;
    margin: -20% auto;

}
#boton1{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
 

   
}
#boton2{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
 

   
}
#info h2 {
    position: central;
    top: 15%;
    left: 10%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: rgb(255, 255, 255);

}
#info p{
    position: central;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
 
    color: #051011;

}

#inputBox  input[type="text"]
#inputBox  input[type="suublim"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3654b1;
    border-radius: 3px;
}
