{{!-- <br><br>
<footer class="footer" style="background-color: rgb(37, 164, 2);">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-3 foot-col mb-5">
                <h4>Acerca de</h4>
                <p>Diseñar, construir y mantiener sistemas y estructuras complejos, desde edificios hasta software..</p>
            </div>
            <div class="col-md-3 foot-col mb-5">
                <h4>Contactos</h4>
                <p>123 Ave Street<br /> Nortport, CT 104606</p>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-2">
        <div class="row">
            <div class="col-md-8 foot-bottom-text">
                <p>Privacy Policy / Sample website education proposal - EARTH © 2022 / All Rights Reserved</p>
            </div>
            <div class="col-md-4 social-links content-right">
                <a href="https://www.facebook.com/" class="fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/" class="tw">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" class="ig">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer> --}}

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(42, 192, 192);
        color: white;
        text-align: center;
        
    }
    a{
        color: aliceblue;
    }
    .foot-bottom-text{
    font-size: .8em;
}

</style>

<div class="footer">
    <div class="row">
        <div class="col-md-8 foot-bottom-text">
            <p>Privacy Policy / Fernando Rivera - SOCIAL SOCCER © 2023 / All Rights Reserved</p>
        </div>
        <div class="col-md-4 social-links content-right">
            <a href="https://www.facebook.com/profile.php?id=100006894828170" class="fb">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" class="tw">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/fercho_2798/" class="ig">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>