{{!-- <div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group m-2">
              <input type="text" name="email" placeholder="email" class="form-control" autofocus>
            </div>
            <div class="form-group m-2">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button class="btn btn-primary btn-block m-2">
              SingIn
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div> --}}





{{!-- <div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Sign In</h4>
                    <form action="/signin" method="POST">
                      <div class="form-group m-2">
                        <input type="email" name="email" placeholder="email" id="logemail" class="form-control form-style" autofocus >
                      </div>
                      <div class="form-group m-2">
                        <input type="password" name="password" placeholder="Password" class="form-control form-style">
                      </div>
                      <button class="btn btn-primary btn-block m-2">
                        SingIn
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Sign Up</h4>
                    <div class="form-group">
                      <form action="/signup" method="POST">
                        <div class="form-group m-3">
                          <input type="type" name="name" placeholder="Nombre" class="form-control form-style" required autofocus>
                        </div>
                        <div class="form-group m-3">
                          <input type="text" name="email" placeholder="Email" class="form-control  form-style" required>
                        </div>
                        <div class="form-group m-3">
                          <input type="password" name="password" placeholder="Password" class="form-control" required>
                        </div>
                        <div class="form-group m-3">
                          <button class="btn btn-primary btn-block">
                            SingIn
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}


  
    <link rel="stylesheet" href="css/login.css">
 

  <div class="contenedor-login">
      <div class="right-login">
        <h1 class="titulo2">Login</h1>
         <form action="/signin" method="POST">
            <div class="form-group m-2 text">
              <input type="text" name="email" placeholder="email" class="form-control"  autofocus>
            </div>
            <div class="form-group m-2 text">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button class="btn btn-primary btn-block m-2">
              SingIn
            </button>
          </form>
      </div>
      <div class="left-login">
        <h1 class="titulo">Bienvenido</h1>
        <p class="parrafo">Aun no tienes una cuenta</p>
        <a class="btn btn-primary" href="/signup" >Sing up</a>
      </div>
      
    </div> 


    {{!-- <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="../../public/images/Login/arc3.jpg" /></div>
                <div class="formBx">
                    <form>
                        <h2>INICIAR SESION</h2>
                        <input type="text" placeholder="Usuario.">
                        <div class="form__input-error-message"></div>
                        <input type="password" placeholder="Contraseña.">
                        <div class="form__input-error-message"></div>
                        <input type="submit" value="Ingresar">
                        <p class="signup">
                            ¿No tienes una cuenta?
                            <a href="#" onclick="toggleForm();"> Registrate.</a>
                        </p>
                    </form>
                </div>
            </div>

            <div class="user signupBx">
                <div class="formBx">
                    <form>
                        <h2>CREAR CUENTA</h2>
                        <input type="text" placeholder="Nombre del Usuario">
                        <input type="text" placeholder="Correo Electronico">
                        <input type="password" placeholder="Contraseña">
                        <input type="password" placeholder="Confirmar contraseña">
                        <input type="submit" value="Registrate">
                        <p class="signup">
                            ¿Ya tienes una cuenta?
                            <a href="#" onclick="toggleForm();"> Iniciar Sesion.</a>
                        </p>
                    </form>
                </div>
                <div class="imgBx"><img src="../../public/images/Login/arc22.jpg" /></div>
            </div>
        </div>
    </section>
    <script>
        function toggleForm() {
            section = document.querySelector('section');
            container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        }
    </script>
    <script src="/js/query.js"></script>
  <link rel="stylesheet" href="/css/estilos.css">
 --}}
